{% extends "base.html" %}

{% block title %}Entrar{% endblock %}

{% block content %}
    <h1>Entrar</h1>
    {% if form.errors %}
        <p>Seu nome de usuario e senha podem estar errados. Por favor tente novamente.</p>
    {% else %}
        <p>Por favor, use os seguintes campos para entrar. Se você ainda não é cadastrado você pode <a href="{% url "register" %}">registrar aqui</a></p>
    {% endif %}

    <div class="login-form">
        <form action="{% url "login" %}" method="post">
          <!--{{ form.as_p }}-->
          {{ form.non_field_errors }}
          <div class="fieldWrapper">
              {{ form.username.errors }}
              <label for="{{ form.username.id_for_label }}">Usuario:</label>
              {{ form.username }}
          </div>
          <div class="fieldWrapper">
              {{ form.password.errors }}
              <label for="{{ form.password.id_for_label }}">Senha:</label>
              {{ form.password }}
          </div>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Entrar"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Esqueceu a sua senha?</a></p>
    </div>

    <div class="social">
        <ul>
            <li class="facebook"><a href="{% url "social:begin" "facebook" %}">Entrar com o facebook</a></li>
            <li class="twitter"><a href="{% url "social:begin" "twitter" %}">Entrar com o Twitter</a></li>
            <li class="google"><a href="{% url "social:begin" "google-oauth2" %}">Entrar com a conta Google</a></li>
        </ul>
    </div>
{% endblock %}
