{% extends "base.html" %}

{% block title %}Liquida 2018{% endblock %}

{% block content %}
    <h1>Liquida2018</h1>
    <p>Bem vindo a sua conta do Liquida. Você pode <a href="{% url "edit" %}">editar o seu perfil</a> ou <a href="{% url "password_change" %}">mudar a sua senha</a>.</p>
    <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url "adddocfiscal" %}">
  Adicionar cupom
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Novo cupom</h4>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary">Salvars</button>
  </div>
</div>
</div>
</div>

{% endblock %}
