{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Informe o CPF do participante</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.CPF.label_tag }}
          {% render_field filter.form.CPF class="form-control" %}
        </div>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
      </div>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de cadastro</th>
        <th>Pergunta</th>
      </tr>
    </thead>
    <tbody>
      {% for user in filter.qs %}
        <tr>
          <td>{{ user.CPF }}</td>
          <td>{{ user.nome }}</td>
          <td>{{ user.user.email }}</td>
          <td>{{ user.dataCadastro }}</td>
          <td>{{ user.pergunta}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}
